<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet", href="/css/Styles.css">
</head>

<body>
    <div>
         {{>header}}
         <p>This site was created by Venky. It uses data from mapbox.com</p>

    <img class="portrait"src="/pics/robot.jpg">
    </div>
    

{{>footer}}
</body>


</html>