<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet", href="/css/Styles.css">
</head>

<body>
    <div>
         {{>header}}

    <img class="portrait"src="/pics/robot.jpg">
    </div>
    

{{>footer}}
</body>


</html>